@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}

main{
    background: whitesmoke;
}
.kontainer{
    width: 1210;
    padding: 0 80px;
}

  /* header section here  */

.header{
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.header-text >a{
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    color: rgba(17, 21, 23, 1);
}

.dark-mode{
    font-size: 16px;
    font-weight: 600;
    color: rgba(17, 21, 23, 1);
}


@media only screen and (min-width: 320px) and (max-width: 425px) {
    .header{
        width: 100%;
        height: 80px;
        background: rgba(255, 255, 255, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;

        position: fixed;
        top: 0;
        z-index: 10;
    }
    
    .header-text >a{
        font-size: 14px;
        line-height: 20px;
    }
    
    .dark-mode{
        font-size: 12px;
    }
}

    /* main content here  */
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .kontainer{
        width: 100%;
        padding: 0 16px;
    }
  
    .main-search{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
    }

    .mobile-datalist{
        position: absolute;
        top: 125px;
        width: 60%;
    }
}



 /* states container here  */

 .card-container{
     margin: 50px 0;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
 }

 .card-name{
     font-size: 18px;
     line-height: 27px;
     color: 
     rgba(17, 21, 23, 1);
 }

 .card-description{
     font-size: 14px;
     list-style: 16px;
     color: rgba(17, 21, 23, 1);
 }


 @media only screen and (min-width: 320px) and (max-width: 425px) {
    .card-container{
        margin-top: 120px;
        display: flex;
        flex-direction: column;
    }

    .card-container:last-child{
        margin: -40px 0 20px;
    }
    .card-size{
        width: 100%;
        margin-top: 40px;
    }
 }